<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>车票管理系统 - 18271241</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/starter-template.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">车票管理系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsDefault"
                aria-controls="navbarsDefault" aria-expanded="false" aria-label="导航器"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active"><a class="nav-link" aria-current="page" href="/">查询</a></li>
                <li class="nav-item"><a class="nav-link" href="/order" tabindex="-1">订票</a></li>
                <li class="nav-item"><a class="nav-link" href="/refund" tabindex="-1">订单编辑</a></li>
                {% if session["is_admin"] %}
                    <li class="nav-item"><a class="nav-link" href="/admin" tabindex="-1">控制台</a></li>
                {% endif %}
            </ul>
            <span class="navbar-text">
        {% if session["is_admin"] %}
            管理员
        {% else %}
            用户
        {% endif %}
                {{ session["user"] }}
            &nbsp;&nbsp;
            </span>
            <button class="btn btn-outline-success" onclick="(function() { window.location.href = '/logout';})();">
                退出登录
            </button>
        </div>
    </div>
</nav>
<main class="container">
    <!-- Toasts -->
    <div class="toast-container position-absolute top-10 end-0 p-3">
        <div id="emptyToast" class="toast d-flex align-items-center text-white bg-danger border-0">
            <div class="toast-body">
                车次不能为空。
            </div>
            <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast"></button>
        </div>
    </div>
    <div class="modal fade" id="trainValue" tabindex="-1">
        <div class="toast-container position-absolute top-10 end-0 p-3">
            <div id="unmodifiedToast" class="toast d-flex align-items-center text-white bg-primary border-0">
                <div class="toast-body">
                    没有信息被修改。
                </div>
                <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast"></button>
            </div>
            <div id="valueEmptyToast" class="toast d-flex align-items-center text-white bg-danger border-0">
                <div class="toast-body">
                    数据不能为空。
                </div>
                <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast"></button>
            </div>
            <div id="errorToast" class="toast d-flex align-items-center text-white bg-danger border-0">
                <div class="toast-body">
                    修改出错，请重试。
                </div>
                <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast"></button>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">列车信息</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" style="margin: auto;">
                        <div class="col-md-4">
                            车次
                            <input id="train_name_modified" type="text" class="form-control" placeholder="G1234">
                        </div>
                        <div class="col-md-4">
                            始发站
                            <input id="start_station_modified" type="text" class="form-control" placeholder="杭州">
                        </div>
                        <div class="col-md-4">
                            终点站
                            <input id="stop_station_modified" type="text" class="form-control" placeholder="上海">
                        </div>
                        <div class="col-md-6">
                            始发时间
                            <input id="start_time_modified" type="datetime-local" class="form-control"
                                   placeholder="2021-01-01 12:00">
                        </div>
                        <div class="col-md-6">
                            到达时间
                            <input id="stop_time_modified" type="datetime-local" class="form-control"
                                   placeholder="2021-01-01 18:00">
                        </div>
                        <div class="col-md-4">
                            票价
                            <input id="price_modified" type="number" step="0.1" min="0.0" class="form-control"
                                   placeholder="25.0">
                        </div>
                        <div class="col-md-4">
                            余量
                            <input id="capacity_modified" type="number" step="1" min="0" class="form-control"
                                   placeholder="200">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="submitTrain()">应用</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form class="row g-3 w-75 align-items-center row-cols-lg-auto justify-content-center" style="margin: auto;">
            <span>
                车次
            </span>
            <div class="col-md-6">
                <input type="text" id="train_name" class="form-control" placeholder="G1234">
            </div>
            <button type="button" onclick="runQuery()" class="btn btn-primary col-md-1">搜索</button>
            <div class="col-md-1"></div>
            <button type="button" class="btn btn-primary col-md-2" data-bs-toggle="modal"
                    data-bs-target="#trainValue" onclick="emptyForm()">添加列车
            </button>
        </form>
    </div>
    <br/><br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">车次</th>
            <th scope="col">始发站</th>
            <th scope="col">始发时间</th>
            <th scope="col">终点站</th>
            <th scope="col">到达时间</th>
            <th scope="col">票价</th>
            <th scope="col">余量</th>
            <th scope="col">修改</th>
        </tr>
        </thead>
        <tbody id="queryRes">

        </tbody>
    </table>
</main>
<!-- /.container -->
<script src="/static/bootstrap.bundle.min.js"></script>
</body>
<script>
    let checkList = ["train_name_modified", "start_station_modified", "start_time_modified",
        "stop_station_modified", "stop_time_modified", "price_modified", "capacity_modified"];

    let trainName = ""

    function runQuery() {
        let train_name = document.getElementById("train_name").value;

        let formData = new URLSearchParams();
        formData.append("train_name", train_name);

        window.fetch("/api/query_list", {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: formData
        }).then(function (res) {
            if (!res.ok) {
                let toast = new bootstrap.Toast(document.getElementById("errorToast"));
                toast.show();
                return ""
            } else {
                return res.text()
            }
        }).then(function (data) {
            if (data) {
                let table = document.getElementById("queryRes");
                table.innerHTML = data;
            }
        }).then(function () {
            modifyListButton();
        })
    }

    function modifyListButton() {
        let buttonList = [].slice.call(document.querySelectorAll(".listButton"))
        for (let i = 0; i < buttonList.length; i++) {
            buttonList[i].setAttribute("data-bs-toggle", "modal");
            buttonList[i].setAttribute("data-bs-target", "#trainValue");
        }
    }

    function listButtonClicked(ele) {
        let infoList = ele.parentNode.parentNode.children;
        trainName = infoList[0].innerText;
        for (let i = 0; i < 7; i++) {
            let tmpEle = document.getElementById(checkList[i]);
            let originVal = infoList[i].innerText;
            if (originVal === "") {
                continue;
            }
            tmpEle.value = originVal;
            tmpEle.placeholder = originVal;
        }
    }

    function emptyForm() {
        trainName = ""
        for (let i = 0; i < 7; i++) {
            let tmpEle = document.getElementById(checkList[i]);
            tmpEle.value = "";
        }
    }

    function submitTrain() {
        let formData = new URLSearchParams();
        let unmodified = 0;

        if (trainName === "") {
            for (let i = 0; i < 7; i++) {
                let tmpEle = document.getElementById(checkList[i]);
                if (tmpEle.value === "") {
                    let toast = new bootstrap.Toast(document.getElementById("valueEmptyToast"));
                    toast.show();
                    return;
                }
                formData.append(checkList[i].slice(0, -9), tmpEle.value);
            }
            window.fetch("/api/create", {
                method: "POST",
                credentials: "same-origin",
                redirect: "follow",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: formData
            }).then(function (res) {
                if (!res.ok) {
                    let toast = new bootstrap.Toast(document.getElementById("errorToast"));
                    toast.show();
                } else {
                    let modal = bootstrap.Modal.getInstance(document.getElementById("trainValue"));
                    modal.hide()
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                }
            });
        } else {
            formData.append("train_name_origin", trainName)
            for (let i = 0; i < 7; i++) {
                let tmpEle = document.getElementById(checkList[i]);
                if (tmpEle.value === "") {
                    let toast = new bootstrap.Toast(document.getElementById("valueEmptyToast"));
                    toast.show();
                    return;
                }
                if (tmpEle.value !== tmpEle.placeholder) {
                    unmodified = 1;
                }
                formData.append(checkList[i].slice(0, -9), tmpEle.value);
            }
            if (!unmodified) {
                let toast = new bootstrap.Toast(document.getElementById("unmodifiedToast"));
                toast.show();
                return;
            }
            window.fetch("/api/change", {
                method: "POST",
                credentials: "same-origin",
                redirect: "follow",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: formData
            }).then(function (res) {
                if (!res.ok) {
                    let toast = new bootstrap.Toast(document.getElementById("errorToast"));
                    toast.show();
                } else {
                    let modal = bootstrap.Modal.getInstance(document.getElementById("trainValue"));
                    modal.hide()
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                }
            })
        }

    }

    runQuery();

</script>

</html>