{% for item in info %}
    <tr id="item{{ item }}">
        <td> {{ info[item][0] }} </td>
        <td> {{ info[item][1] }} </td>
        <td> {{ info[item][2] }} </td>
        <td> {{ info[item][3] }} </td>
        <td> {{ info[item][4] }} </td>
        <td> {{ info[item][6] }} </td>
        <td> {{ info[item][5] }} </td>
        <td>
            <button type="button" class="btn-primary btn-sm listButton" id="listButton" onclick="listButtonClicked(this)">执行</button>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="8" style="text-align: center;">无结果</td>
    </tr>
{% endfor %}