<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <title>登录・车票管理系统</title> 
  <!-- Bootstrap core CSS --> 
  <link href="/static/bootstrap.min.css" rel="stylesheet" /> 
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> 
  <!-- Custom styles for this template --> 
  <link href="/static/signin.css" rel="stylesheet" /> 
 </head> 
 <body class="text-center"> 
  <main class="form-signin"> 
   <form> 
    <h1> 车票管理系统 </h1> 
    <h2 class="h3 mb-3 fw-normal">请您登录</h2> 
    <input type="text" class="form-control" placeholder="用户名" id="inputUsername" required="" autofocus="" /> 
    <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="" /> 
    <div class="checkbox mb-3"> 
     <label> <input type="checkbox" value="remember-me" /> 记住我  </label> 
    </div> 
    <button class="w-100 btn btn-lg btn-primary" type="submit">登录</button> 
    <p class="mt-5 mb-3 text-muted">&copy; 18271241</p> 
   </form> 
  </main>   
 </body>

<script>



</script>
</html>