<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <title>车票管理系统 - 18271241</title> 
  <!-- Bootstrap core CSS --> 
  <link href="/static/bootstrap.min.css" rel="stylesheet" /> 
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> 
  <!-- Custom styles for this template --> 
  <link href="/static/starter-template.css" rel="stylesheet" /> 
 </head> 
 <body> 
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">车票管理系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsDefault"
                aria-controls="navbarsDefault" aria-expanded="false" aria-label="导航器"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active"><a class="nav-link" aria-current="page" href="/">查询</a></li>
                <li class="nav-item"><a class="nav-link" href="/order" tabindex="-1">订票</a></li>
                <li class="nav-item"><a class="nav-link" href="/refund" tabindex="-1">退票</a></li>
                {% if session["is_admin"] %}
                    <li class="nav-item"><a class="nav-link" href="/admin" tabindex="-1">控制台</a></li>
                {% endif %}
            </ul>
            <span class="navbar-text">
        {% if session["is_admin"] %}
            管理员
        {% else %}
            用户
        {% endif %}
                {{ session["user"] }}
            &nbsp;&nbsp;
            </span>
            <button class="btn btn-outline-success" onclick="(function() { window.location.href = '/logout';})();">
                退出登录
            </button>
        </div>
    </div>
</nav>
  <main class="container"> 

  </main>
  <!-- /.container --> 
  <script src="/static/bootstrap.bundle.min.js"></script>  
 </body>
</html>